.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;

  background: #0b1220;
  border-right: 1px solid rgba(255,255,255,0.06);

  overflow: hidden;
  transition: width 0.3s ease;

  display: flex;
  flex-direction: column;
}

.open {
  width: 250px;
}

.close {
  width: 72px;
}

/* HEADER */
.sidebarHeader {
  height: 60px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  padding: 0 12px;
  border-bottom: 1px solid rgba(255,255,255,0.06);
}

/* LOGO */
.logo {
  font-weight: 700;
  font-size: 14px;
  transition: 0.3s ease;
}

.logoActive {
  color: #ffffff;
}

.logoInactive {
  color: #6b7280;
  opacity: 0.5;
}

/* BUTTON */
.toggleBtn {
  width: 38px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.08);
  background: rgba(255,255,255,0.05);

  cursor: pointer;
  color: white;
  
  margin-left: auto;
}

/* MENU */
.menu {
  padding: 10px 6px;
}

/* SECTION */
.sectionTitle {
  font-size: 11px;
  color: #6b7280;
  margin: 14px 10px 6px;
}

/* ITEM */
.item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 12px;
  margin: 4px 6px;

  border-radius: 10px;

  cursor: pointer;
  transition: 0.2s;
  color: #cbd5e1;

  min-height: 42px;
}

.item:hover {
  background: rgba(255,255,255,0.05);
}

/* ICON FIX (INI PENTING BIAR TIDAK NGE-RESIZE) */
.icon {
  width: 18px !important;
  height: 18px !important;
  flex-shrink: 0;
}

/* ACTIVE */
.active {
  background: rgba(59,130,246,0.15);
  border-left: 3px solid #3b82f6;
  color: white;
}

/* LABEL */
.label {
  font-size: 13px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

/* SHOW / HIDE */
.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.signOut {
  margin-top: auto;
  color: #ef4444;
}

.signOut:hover {
  background: rgba(239, 68, 68, 0.1);
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.logoImage {
  width: 34px;
  height: 34px;
  object-fit: contain;
}

/* teks logo */
.logoText {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.logoTitle {
  font-size: 14px;
  font-weight: 700;
  color: #00e5ff;
}

.logoSub {
  font-size: 11px;
  color: #6b7280;
}